! Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #999999
#define base04 #b4b7b4
#define base05 #cccccc
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #a3685a

!! dwm :
!! dwm.normfgcolor: nord6
!! dwm.normbgcolor: nord0
!! dwm.normbordercolor: nord3
!! dwm.normfloatcolor : nord10
!! 
!! dwm.selfgcolor: nord0
!! dwm.selbgcolor: nord0
!! dwm.selbordercolor: nord11
!! dwm.selfloatcolor: nord12
!! 
!! dwm.titlenormfgcolor: nord0
!! dwm.titlenormbgcolor: nord0
!! dwm.titleselfgcolor: nord0
!! dwm.titleselbgcolor: nord12
!! 
!! dwm.tagsnormfgcolor: nord6
!! dwm.tagsnormbgcolor: nord0
!! 
!! dwm.tagsselfgcolor: nord0
!! dwm.tagsselbgcolor: nord12
!! 
!! dwm.urgfgcolor: nord6
!! dwm.urgbgcolor: nord11
!! dwm.urgbordercolor: nord15
!! dwm.urgfloatcolor: nord15

!! simple terminal :
!! st.alpha: 0.88
!! st.borderpx: 0
!! 
!! !! dmenu :
!! dmenu.foreground: nord6
!! dmenu.background: nord0
!! dmenu.selbackground: nord11
!! dmenu.selforeground: nord0
!! dmenu.font: FiraCode Nerd Font-10
!! 
!! Xcursor.theme: Comix Cursor original White Opaque
!! Xcursor.size: 48
